:root {
    --white: #fff;
    --orange: #FAA986;
    --flesh: #FFEBE5;
    --darkblue: #25335D;

}

.homepage {
  background-color: red;
  display: flex;
  flex-direction: column;
 }

 .banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--flesh) !important;
   }
 
 .banner-logo {
    justify-self: start;
    font-size: 200%;
    z-index: 2;
    display: flex;
    align-items: center;
    font-family: 'Roboto Flex',sans-serif;
    padding: 1.5vw;
 }
 .banner-logo::before {
    content: "";
    justify-self: start;
    height: 55px;
    width: 55px;
    background-color: var(--orange);
    border-radius: 50%;
    display: inline-block;
    z-index: 0;
    position: absolute;
 }

 .btn-group{
    flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .btn-group button {
   /*ackground-color: #04AA6D;  Green background */
   /*border: 1px solid green; Green border*/
   font-family: 'Roboto Flex',sans-serif;
   font-size: 135%;
   background: var(--flesh);
   color: black; /* White text */
   padding: 10px 24px; /* Some padding */
   padding-right: 180px;
   cursor: pointer; /* Pointer/hand icon */
   float: left; /* Float the buttons side by side */
   display: flex;
   
 }
 
 /* Clear floats (clearfix hack) */
 .btn-group:after {
   content: "";
   clear: both;
   display: table;
 }
 
 .btn-group button {
   border: none; /* Prevent double borders */
   
 }
 
 /* Add a background color on hover */
 /* .btn-group button:hover {
   text-decoration: underline;
 } */
.btn-selected {
  text-decoration: underline;
}

.page-header {
    display: flex;
    flex-direction: column;
    margin: 2.5vh auto auto auto;
    height: 10vh;
    background-color: var(--flesh);
}

.user-card-feed {
    display: grid;
    grid-template-columns: 38% 38%;
    grid-template-rows: auto;
    gap: 65px;
    justify-content: center;
    padding-bottom: 6vh;
}