.homepage {
    width: auto;
    height: auto;
    font-family: 'Roboto Flex', sans-serif;
    background-color: #FFEBE5;
    ;
}

.page-header {
    display: flex;
    flex-direction: row;
    color:black;
    gap: 35%;
}
.page-selector{
    text-decoration: underline;
    font-family: 'Roboto Flex';
    display: flex;
    flex-direction: row;
    gap:40%;
    a{
        color:black
    }
}

.page-title {
    position: relative;
    width: 507px;
    top: 20px;
    left: 322px;
    margin-bottom: 100px; 
    color: #25335D;
    z-index: 1;  
    display:grid;
    grid-template-columns: 500px 500px;



}
.page-title-text{
    font-family: 'Roboto Flex';
    font-size: 150px !important;
    font-weight: 700 !important ;
    line-height: 64px;
    letter-spacing:  0.02esm;
    text-align: left;

}
.page-subtitle{
    text-align:right;
    margin-top: 10px;

}
.page-title-picture{
    margin-top:200px;
}
.page-filter{
    position: relative;
    width: 1190px;
    left: 160px;
    align-self: center;

   /* temporarily just a png */

}
.listing-card-feed {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: auto;
    gap: 80px;
    justify-content: center;
    padding-bottom: 6vh;

    
}
@media only screen and (max-width: 1224px){
    .page-title{
        left:120px;
    }
    .page-filter{
        width: 800px;
    }
    .listing-card-feed{
    grid-template-columns: 350px 350px; /* was 38% */
    }


}
