.homepage {
    width: auto;
    height: auto;
    font-family: 'Roboto Flex', sans-serif;
    background-color: #FFEBE5;
    ;
}

.page-header {
    display: flex;
    flex-direction: column;
}

.page-title {
    position: relative;
    color: #25335D;
    z-index: 1;
    margin: auto;
    top: 8.5vh;
}

.listing-card-feed {
    position: relative;
    top: 16.5vh;
    display: grid;
    grid-template-columns: 23% 23% 23%; /* was 38% */
    grid-template-rows: auto;
    gap: 65px;
    justify-content: center;
    padding-bottom: 6vh;

}