.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--flesh) !important;
    
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
   }

   .banner-logo {
    justify-self: start;
    font-size: 200%;
    z-index: 2;
    display: flex;
    align-items: center;
    font-family: 'Roboto Flex',sans-serif;
    padding: 1.5vw;
 }
 
 .banner-logo::before {
    content: "";
    justify-self: start;
    height: 55px;
    width: 55px;
    background-color: var(--orange);
    border-radius: 50%;
    display: inline-block;
    z-index: 0;
    position: absolute;
 }

 .link-container {
   display: flex;
   justify-content: center;
   width: 100%;
 }

 .link-container a {
   display: flex;
   color: #25335D;
   padding-right: 100%;
   font-size: 22px;
   text-decoration: none;

 }

 .link-container a.btn-selected {
   text-decoration: underline;
 }
