:root {
    --white: #fff;
    --black: #000;
    --blue: #25335D;
    --pink: #FFEBE5;
    --btn-blue: #4168F6;    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    background-color: var(--pink);
    color: var(--blue);
}
.link-active {
    font-weight: bold;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.2em;
}

.svg-inactive{
    fill: var(--white);
}

.nav {
    margin-top: 4vh;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    z-index: 1;
    color: var(--black);
}

.nav::before {
    content: "";
    width: 78.9%;
    height: 5px;
    top: 12px;
    z-index: 0;
    background-color: var(--blue);
    position: absolute;
}

.nav-link p {
    margin-top: 3vh;
}

.onboarding-form {
    margin-top: 6vh;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.active {
    display: flex;
}
form {
    padding: 4vh 6vw;
    margin-top: 4vh;
    background: var(--white);
    border-radius: 20px 20px 0px 0px;
    width: 75%;
}
.input-field {
    margin-top: 2vh;
}
input {
    border: 2px solid #25335D;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    margin-top: 1vh;
}

label {
    font-size: 1.2em;
}

.options *{
    margin-right: 3vw;
    margin-top: 2vh;
    border: 2px solid var(--blue);
    border-radius: 13px;
    cursor: pointer;
    padding: 4px;
    width: 131px;
    height: 32px;
    background-color: var(--white);
}

.selected-btn {
    background-color: var(--blue);
    color: var(--white);
}

.submit-div {
    text-align: center;
}
.submit-btn {
    margin-top: 5vh;
    background-color: var(--btn-blue);
    color: var(--white);
    border-radius: 13px;
    border: 1px solid var(--white);
    width: 115px;
    height: 31px;
}

select {
    display: block;
    margin-top: 2vh;
    padding: 5px;
}

textarea {
    display: block;
    margin-top: 2vh;
    padding: 5px;
    width: 90%;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.living {
    display: flex;
    margin-top: 6vh;
    align-items: center;
    height:45vh;
    justify-content: space-between;
    flex-direction: column;
}

.bubbles {
    display: flex;
    justify-content: space-around;
    width: 70vw;
}

.bubbles button {
    height: 12vw;
    cursor: pointer;
    font-size: 1.2em;
    background-color: white;
    width: 12vw;
    border-radius: 50%;

}

/* Range input. Got most of it from https://codepen.io/RemkoBoschker/pen/jzLgXq*/

.input-field:has(.range-slider) {
    margin-bottom: 10vh;
}
.range-slider {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 14px;
    float: left;
    text-align: center;
  }

  .range-slider input[type=range] {
    -webkit-appearance: none;
    pointer-events: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 20px;
    height: 0;
    width: 100%;
    border-radius: 14px;
    border: 1px solid #25335D;
    background: none;
  }
  .range-slider input[type=range]::before {
    content: "";
    height: 3px;
    background-color: #25335D;
  }

  .range-slider input[type=range]:focus, .range-slider input[type=range]:active {
    outline: none;
  }
  .range-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: #fff;
    border: 2.5px solid #25335D;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .range-slider input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: green;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .range-slider input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: green;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .range-slider input[type=range]::-webkit-slider-runnable-track {
    /* your track styles */
  }
  .range-slider input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: none;
  }
  .range-slider input[type=range]::-ms-track {
    /* should come after -webkit- */
    border-color: transparent;
    color: transparent;
    background: transparent;
    /* again your track styles */
  }
  .range-slider input[type=range]::-ms-fill-upper {
    background: transparent;
  }
  .range-slider input[type=range]::-ms-fill-lower {
    background: transparent;
  }
  .range-slider input[type=range]::-ms-tooltip {
    display: none;
  }

  #slider2::before, #slider2::after {
    content: "";
    display: block;
    position: absolute;
    top: -10.5px;
    left: -1px;
    width: 2.5px;
    height: 23px;
    background-color: #25335D;
    margin-bottom: -28px;
  }

  #slider2::after {
    left: initial;
    right: -1px;
  }

  .range-slider span {
    
        position: absolute;
        left: -7px;
        top: 45px;
    
  }

  .range-slider span:last-child {
    left: inherit;
    right: -7px;
  }