.profile-user-card-content {
    padding: 18px 18px 18px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 230px;
}

.profile-user-card-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.profile-user-pfp {
    width: 100px;
    height: 100px;
    margin-right: 14px;
    border-radius: 50%;
}

.profile-user-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: center;
}

.profile-user-title h1 {
    margin-right: 8px;
}

.profile-user-pronouns {
    color: rgba(37, 51, 93, 0.64);
}

.profile-card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    position: relative;
}

.attr-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#left-attr-col {
    width: 40%;
    /* background-color: rgba(255,0,0,0.5);     */
}

#right-attr-col {
    width: 40%;
    /* background-color: rgba(0,0,255,0.5); */
}

.user-attr {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.attr-icon {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color:  #25335D;
}

.attr-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.attr-value {
    margin: 0px;
}

.attr-desc {
    margin: 0px;
    color: rgba(37, 51, 93, 0.64);
}