:root {
    --white: #fff;
    --black: #000;
    --blue: #25335D;
    --flesh: #FFEBE5;
}
.profile-page {
    width: 100vw;
    height: 200vh;
    font-family: 'Roboto Flex', sans-serif;
    background-color: var(--flesh);
   
}

.profile-go-back {
    text-decoration: none;
    color: rgba(37, 51, 93, 1);
}

.profile-back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6em;
}

.profile-content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 1em;
    margin: auto;
    position: relative;
    top: 2em;
}

.profile-resume-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80vw;
    background-color: var(--white);
    border-radius: 2em;
    padding: 3em 4em 3em 4em;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1.5em;
   
}

.profile-user-pfp {
    width: 170px;
    height: auto;
    margin-right: 14px;
    border-radius: 50%;

}

.profile-user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.profile-user-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: center;
}

.profile-user-title h1 {
    margin-right: 8px;
}

.profile-user-pronouns {
    color: rgba(37, 51, 93, 0.64);
}

.profile-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
}

.profile-body-col {
    width: 45%;
}

.profile-footer {
    display: flex;
}