.profile-user-card-wrapper {
    color: black;
    border: solid;
    border-radius: 24px;
    border-width: 0px;
    /* border-color: rgba(0,0,0,0.7); */
    background-color: white;
    margin-bottom: 15px;
    transform: scale(1);
    transition: transform 0.15s;
    color: #25335D;
}

.card-content {
    padding: 18px 18px 18px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 220px;
    
}

/* .prefs-card-wrapper .card-content {

} */

.card-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}

.user-pfp {
    width: 100px;
    height: 100px;
    margin-right: 14px;
    border-radius: 50%;
}

.user-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;  
    gap: 7px;
    position: relative;
    top: -8px;
    
}

.user-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: center;
}

.user-title h1 {
    margin-right: 8px;
    
}

.user-pronouns {
    color: rgba(37, 51, 93, 0.64);
}

.tag-content{
    margin: -2px 8px -2px 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.user-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.user-tag {
    background-color: #F3F4F8;
    border-radius: 15px;
    color:  #25335D;
    font-size: 14px;
}

.tag-icon {
    font-size: 17px;
    
}

.user-tag p {
    margin: 8px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    position: relative;
    top: -20px;
}

.attr-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#left-attr-col {
    width: 40%;
    /* background-color: rgba(255,0,0,0.5);     */
}

#right-attr-col {
    width: 45%;
    /* background-color: rgba(0,0,255,0.5); */
}

.attr-icon {
    font-size: 30px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color:  #25335D;
}

.attr-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.attr-value {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}

.attr-desc {
    font-size: 14px;
    margin: 0px;
    color: rgba(37, 51, 93, 0.64);
}

.user-attr {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    /* background-color: rgba(255,0,0,0.5); */
}
/*
.roommate-pfps {
    display: flex;
    flex-direction: row;
    width: 96px;
    justify-content: flex-end;
    position: absolute;
    top: 15px;
    right: 15px;
}

.roommate-pfp {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
*/