.profile-section-row-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.8em;
}

.profile-section-row-key {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: flex-start;
}

.profile-section-row-icon {
    width: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -0.45em;
}

.profile-section-row-value {
    display: flex;
    flex-direction: row;
    text-align: right;
}