.profile-section {
    /* width: 100vw;
    height: 200vh; */
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: var(--flesh); */
}

.edit{
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    /* flex-direction: column; */    
    justify-content: space-between;
    align-items:flex-start;
    background-color: pink;
    flex-direction: column;
    margin-top: 2em;
}