:root {
    --white: #fff;
    --black: #000;
    --blue: #25335D;
    --flesh: #FFEBE5;
}
.profile-page {
    width: 100vw;
    height: 200vh;
    font-family: 'Roboto Flex', sans-serif;
    background-color: var(--flesh);
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 80vw;
    top: 5vh;
    margin: auto;
    background-color: white;
    border-radius: 5%;
}

.profile-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
}

.profile-body-col {
    width: 30vw;
}

.profile-footer {
    display: flex;
}