.profile-prefs-card-content {
    padding: 18px 18px 18px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 700px;
    height: 236px; 
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    position: relative;
    top: -20px;
}

.prefs-card-heading {
    /* background-color: red;  */
    height: 40px;
}

.prefs-card-heading h2 {
    /* background-color: blue; */
    margin: 0px;
    /* padding: 10%; */
}

.prefs-card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    position: relative;
    /* background-color: red; */
}

.prefs-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-attr {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    /* background-color: rgba(255,0,0,0.5); */
}

#left-prefs-col {
    width: 45%;
    /* background-color: rgba(255,0,0,0.5);     */
}

#right-prefs-col {
    width: 40%;
    /* background-color: rgba(0,0,255,0.5); */
}

.prefs-icon {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color:  #25335D;
}

.attr-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.attr-value {
    margin: 0px;
}

.attr-desc {
    margin: 0px;
    color: rgba(37, 51, 93, 0.64);
}
